@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
  --color-primary: white;
  --color-secondary: rgb(31, 31, 31);
  --color-black:rgb(0, 0, 0);
  --color-heading: #192B5C;
  --color-heading-secondary: purple;
  --transiton-hover-duration: all 0.5s;
  --box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.422);
  --body-margin: 0rem 2rem 0rem 2rem;
}

body {
    font-family: 'Open Sans', sans-serif;
  margin: 0;
}

.navigation {
  background-color: rgb(242, 241, 242);
  color: var(--color-heading);
  padding: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--body-margin);
}
.nav-icon {
  font-size: 1.5rem;
  display: inline-flex;
  align-items: center;
}
.fa-bars {
  margin-right: .5rem;
}

.menu-item2 li {
  list-style: none;
  /* margin-right: 1.5rem; */
}
.menu-hide {
  display: none;
}

.menu-item2 {
  display: flex;
  align-items: center;
  padding-left: 0;
}
.menu-item2 li:hover {
  color:rgb(17, 174, 213);
}
.menu-bg-toggle {
  transition: 1s;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.ul-slider-animation {
  animation-name: navFall;
  animation-duration: .5s;
}

.ul-style{
  padding: 0;
  position: fixed;
  margin: 0;
  width: 60vw;
  height: 100vh;
  top:0;
  color: white;
  background-color: #122138;

}
.slide-back {
  animation-name:slider-back ;
  animation-duration: .5s;
}
@keyframes slider-back {
  0% {
    transform: translateX(0%);
  }
  100% {
      transform: translateX(-100%);
  }
}
.ul-style li {
  list-style: none;
  margin-top: 2rem;
  margin-left: 2rem;
  font-size: 1.4rem;
}
.back {
  display: flex;
  justify-content: end;
  font-size: 2rem;
}
.back div {
  padding-right: 1rem;
}
@keyframes navFall {
  0% {
    transform: translateX(-100%);
  }
  100% {
      transform: translateX(0%);
  }
}
.fa-bars {
  display: block;
}

@media (min-width: 880px) {
  .navigation {
    align-items: center;
  }
  .menu-hide li {
    list-style: none;
    margin-right: 2rem;
    font-size: 1.25rem;
  }
  .nav-icon {
    font-size: 1.8rem;
    /* margin-left: 1rem; */
  }
  .large-menu-bar {
    display: flex;
  }
  .fa-bars {
    display: none;
  }
}
@media(min-width:1440px) {
  .nav-icon {
    font-size: 2.5rem;
    /* margin-left: 2rem; */
  }
  .menu-hide li {
    list-style: none;
    margin-right: 2.2rem;
    font-size: 1.5rem;
  }
  /* .menu-item2 li {
    margin-right: 1.5rem;
  } */
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 1rem;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 2rem;
    box-shadow: 0px 8px 16px 
        0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1
}
.dropdown:hover .dropdown-content {
    display: block;
}

.header {
  display: flex;
  background-image: url(../images/house1.jpeg);
  background-size: cover;
  margin: var(--body-margin);
  justify-content: space-around;
  padding: 5rem 0rem 5rem 0rem;
}
.header-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--color-primary);
}
.header-title h1 {
  font-size: 3.5rem;
  font-weight: 100;
}
.about-button button {
  padding: .7rem 2.2rem .7rem 2.2rem;
}
.form-row1 {
  display: flex;
}
.header-form {
  padding:2rem;
  background:var(--color-primary);
  color: var(--color-heading);
}
.row1-check,.row2-check,.check-button {
  margin: 1rem;
}
.row1-check input,.row2-check select{
  border:none;
  border-bottom: 1px solid black;
}

.row2-check select{
 min-width: 100%;
}
.check-button {
  min-width: 90%;
  padding: .7rem 0rem .7rem 0rem;
  border: none;
  background-color: var(--color-heading);
  color: var(--color-primary);
}

.welcome {
   background: none;
}
.welcome .header-title {
  max-width: 30%;
}
.welcome .header-title h3{
  color: var(--color-heading);
  font-weight: normal;
}
.welcome .header-title h2 {
  color: var(--color-black);
  font-weight: lighter;
  font-size: 3rem;
}
.welcome .header-title p {
  color: var(--color-secondary);
}
.welcome .poster{
  max-width: 50%;
}
.poster {
  display: flex;
  flex-wrap: wrap;
}
.poster-image1 {
  max-width: 45%;
  z-index: 1;
}
.poster-image2,.poster-image3 {
  max-width: 60%;
}
.poster-image2 {
  z-index:2 ;
  margin-left:16rem;
  margin-top:-14rem;
}
.poster-image3 {
  z-index: 3;
  margin-top: -4rem;
  margin-left: 7rem;
}

.rooms{
  display: flex;
  max-width: 100%;
}

.rooms-details {
  display: flex;
  flex-direction: column;
  max-width: 30%;
  padding: 2rem;
  color:var(--color-primary);
  background-color: var(--color-heading);
}
.rooms-details h2,.rooms-details h3 {
  font-weight: lighter;
}
/* .rooms-details h3 {
  color:rgb(206, 125, 125)
} */
.rooms-details h2 {
  font-size: 2.5rem;
}
.details-unit {
  display: flex;
  justify-content: space-between;
}
.swiper {
  max-width: 70%;
  margin: 0;
  display: flex;
}
.swiper-wrapper img {
  max-width: 100%;
}
.swiper-button-next, .swiper-button-prev {
  color :var(--color-primary);
}
.details-button button {
  font-size: 1rem;
  padding:.7rem 2.5rem .7rem 2.5rem;
  border: 2px solid var(--color-primary) ;
  background:none;
  color: var(--color-primary);
}

.benifits{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 0rem 3rem 0rem;
}
.benifits-items {
  display: flex;
  justify-content: center;
}
.benifits p {
  font-size: 3rem;
  font-weight: lighter;
  margin-top: 0;
}
.benifits-card {
  max-width: 20%;
  margin: 1rem;
}
.benifits-card h3 {
  font-size: 1.5rem;
}
.benifits-card p {
  font-size: 1.2rem;
}

.activities {
  display: flex;
}
.activity{
  display: flex;
}
.activities .rooms-details {
  max-width: 43%;
  padding: 4rem;
  justify-content: center;
}
.activity-image img{
  max-width: 100%;
}
.activities .rooms-details ul {
  margin-bottom: 2rem;
}

.service .title{
  max-width: 50%;
  text-align: center;
}
.service-card .card-image img{
  max-width: 100%;
}
.service-card h2{
  font-weight: lighter;
  font-size: 2rem;
}
.service .details-button{
  margin-top: 3rem;
}
.service .details-button button {
  border: 2px solid var(--color-black);
  color: var(--color-black);
}

.discover {
  background-image: url("../images/pool.jpeg");
}
.discover .discover-card {
  max-width: 30%;
  justify-content: end;
  background-color: var(--color-primary);
}