#myCarousel {
  display: flex;
  overflow: hidden;
}

#myCarousel img {
  flex-shrink: 0;
  max-width: 100%;
  height: auto;
  transition: transform 0.5s ease-in-out;
}

#previous,
#next {
  /* position: absolute; */
  top: 50%;
  /* transform: translate(-50%); */
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
#previous {
  left: 1.5rem;
}
#next {
  right: 1.5rem;
}
